<!DOCTYPE HTML>
<html>
	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css} "/>	
	</head>
	<body>
		<div class="jumbotron text-center">
			<h4 class="lead" th:text="'Hello, ' + ${name} + '!'"></h4>
			<hr class="my-4">
	
			<p>You already have an account?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
			</p>
			<p>You do not have an account yet?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
			</p>
		</div>
	</body>
</html>