<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping list</title>
   <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
  $( function() {
    $( "#productsInput" ).autocomplete({
    	source: function(request, response) {
    	  $.ajax({
    		  type: "GET",
    		  url: "shopping-list/search",
    		  data: {term: request.term},
    		  contentType: "application/json; charset=utf-8",
    		  dataType: "json",
    		  success: function(data) {
    			  response(data);
    		  }
    	  });
      	},
      	select: function(event, ui) {
      		console.log(ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
      		var table = document.getElementById('selected-products-table');
      		var row = document.createElement('tr');
      		var cell1 = document.createElement('td');
      		var cell2 = document.createElement('td');
      		
      		cell1.innerHTML = ui.item.label;
      		cell2.innerHTML = '<button class="delete-button"><i class="fa fa-minus-circle delete-icon"></i></button>'
      	               		
      		row.appendChild(cell1);
      		row.appendChild(cell2);
      		table.appendChild(row);
      	}
    });
  });
  
  $(document).on("click", ".delete-button", function(){
	   $(this).closest('tr').remove();
	});
</script>
</head>

<body>
		
<div class="ui-widget container mt-4">
	<div class="jumbotron search">
  		<label for="productsInput" th:text="#{products}"></label>
  		<input id="productsInput" class="form-control">
  	</div>
</div>

<div class="container mt-4">
	<div class="jumbotron selected-products">
		<label for="selected-products-table" th:text="#{selected-products}"></label>
		<table id="selected-products-table">
		
		</table>
	</div>
</div>
 
 
</body>
</html>