<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello, ' + ${name} + '!'"></title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		<div class="jumbotron welcome-card">
    		<h2 class="hello-title" th:text="#{greeting(${name})}" />
    		<th:block th:each="permission : ${permissions}">
    			<h3 th:if="${permission == 'ROLE_ADMIN'}" th:text="#{permissions(#{admin-role})}"></h3>
    			<h3 th:if="${permission == 'ROLE_USER'}" th:text="#{permissions(#{user-role})}"></h3>
    		</th:block>
    	</div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>